body {
    font-family: sans-serif;
    background-color:  #5c947f;
    border: 3 navy;
    margin: 0;
    padding: 10;

}

.container {
    max-width: 700px;
    margin: 0 auto;

    background-color: #87CEEB;
    padding: 25px;
    border: 2 solid black;
    border-radius: 6px;

    align-items: center;
    box-shadow:0px 3px 6px black;
    

}

.container h1{
    font-family: 'Times New Roman', Times, serif;

}

.container ul{
    font-family: sans-serif;
    align-items: center;
}

.container img {
    align-items:center;
    max-width: 600px;
    height: auto;
}