body {
    font-family: sans-serif;
    background-color:  #5c947f;
    border: 3 navy;
    margin: 0;
    padding: 10;

}

.container {
    max-width: 700px;
    margin: 0 auto;

    background-color: #87CEEB;
    padding: 25px;
    border: 1 solid black;
    border-radius: 6;

    align-items: center;
    box-shadow:0px 5px 10px black;
    

}

.container h1{
    font-family: 'Times New Roman', Times, serif
    font-weight "bold";
    background-color: white;

}

.container ul{
    font-family: sans-serif;
    align-items: center;
    background-color: white;
}

.container img {
    max-width: 700px;
    height: auto;
    background-color: white;
}